body {
  background-color: #fbf7f2;
  overflow-x: hidden;
}

.vulcan-container {
  background: url("../../assets/images/vulcan_model.png") no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.col {
  text-align: center;
  background: #fbf7f2;
  border-radius: 10px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 70px;
  height: 70px;
}
.container {
  overflow-x: hidden;
}

.container3 {
  padding: 3rem;
  display: grid;
  grid-gap: 2em;
}

.container2 {
  padding: 3em;
  display: grid;
  display: grid;
  grid-gap: 2em;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
}

.quote {
  /* padding: 2em; */

  border-radius: 0.3em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 1);
  padding: 5px 32px 10px 32px;
  background: #ffffff;
  box-sizing: border-box;
  /* basic shadow */
  box-shadow: 0px 7px 14px #d3dae2;
  border-radius: 25px;
}

p {
  margin-top: 0;
  font-family: "Biryani", sans-serif;
}

h1 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 160%;
  /* or 51px */

  letter-spacing: 0.14px;
  padding-top: 8px;
  color: #000000;
}

h6 {
  font-family: "Biryani", sans-serif;
  font-style: normal;
  font-weight: revert;
  font-size: 15px;
  line-height: 160%;
  /* identical to box height, or 26px */
  letter-spacing: 0.14px;
  color: #534d4d;
}

.sae {
  width: 100px;
}

.seds {
  width: 150px;
  padding-top: 20px;
}
.bits {
  width: 60px;
  padding-top: 10px;
}
.rank {
  width: 70px;
  float: right;
  padding-top: 15px;
  width: 75px;
  height: 75px;
}
.rank1 {
  width: 70px;
  float: right;
  padding-top: 15px;
  width: 90px;
  height: 90px;
}

@media (max-width: 1200px) {
  .container3 {
    padding: 3rem;
    display: grid;
    grid-gap: 2em;
  }
}
@media (min-width: 950px) {
  .container2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .container {
    overflow-x: hidden;
  }

  .vulcan-container {
    object-fit: cover;
  }
}

@media (max-width: 1300px) {
  .container {
    overflow-x: hidden;
  }
}

@media (max-width: 950px) {
  .container2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .container {
    overflow-x: hidden;
  }

  .vulcan-container {
    object-fit: cover;
  }
}

@media (max-width: 1000px) {
  .container3 {
    padding: 3rem;
    display: grid;
    grid-gap: 2em;
  }

  .container {
    overflow-x: hidden;
  }
  #falcon-logo {
    height: 1.5rem;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #title {
    background-color: white;
    color: black;
    text-align: center;
  }
  #falcon-logo {
    height: 2rem;
    width: auto;
  }
}

#title {
  background-color: #ffffff;
  z-index: 1000;
}

.navbar-brand {
  width: 40%;
}
.nav-item {
  padding: 0 20px;
}
.nav-link {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Montserrat", sans-serif !important;
}

#falcon-logo {
  height: 2rem;
  width: auto;
  margin: 0 auto;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 1000px) {
  .scroll-down {
    position: absolute;
    top: 90%;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 1;
    text-decoration: none;
    text-shadow: 0;
    width: 40px;
    height: 40px;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
    z-index: 9;
    left: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation: fade_move_down 4s ease-in-out infinite;
    animation: fade_move_down 4s ease-in-out infinite;
  }

  /*animated scroll arrow animation*/
  @-webkit-keyframes fade_move_down {
    0% {
      -webkit-transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  }
  @-moz-keyframes fade_move_down {
    0% {
      -moz-transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -moz-transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  }
  @keyframes fade_move_down {
    0% {
      transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  }
}
