#title {
  background-color: #ffffff;
  z-index: 1000;
}

.navbar-brand {
  width: 40%;
}
.nav-item {
  padding: 0 20px;
}
.nav-link {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Montserrat", sans-serif !important;
}

#falcon-logo {
  height: 2rem;
  width: auto;
  margin: 0 auto;
}

#menuToggle {
  display: none;
  color: #000;
}

.container img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin-top: 70px;
  object-fit: cover;
  object-position: bottom;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 1000px) {
  .scroll-down {
    position: absolute;
    top: 90%;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 1;
    text-decoration: none;
    text-shadow: 0;
    width: 40px;
    height: 40px;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
    z-index: 9;
    left: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation: fade_move_down 4s ease-in-out infinite;
    animation: fade_move_down 4s ease-in-out infinite;
  }

  /*animated scroll arrow animation*/
  @-webkit-keyframes fade_move_down {
    0% {
      -webkit-transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  }
  @-moz-keyframes fade_move_down {
    0% {
      -moz-transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -moz-transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  }
  @keyframes fade_move_down {
    0% {
      transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
    }
  }
}

@media (min-width:576px) {
  .container,
  .container-sm {
    max-width: fit-content !important;
  }
 }
 